version: "3.9"

services:
  vpn:
    image: qmcgaw/gluetun:latest
    container_name: vpn
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ${VPN_CONFIG_DIR}:/gluetun
    env_file:
      - ${VPN_CONFIG_DIR}/.env
    healthcheck:
      test: curl --fail http://localhost:8000 || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
    ports:
      - "9117:9117"
      - "8989:8989"
      - "7878:7878"
      - "9091:9091"
      - "6789:6789"
      - "6500:6500"
      - "8686:8686"
    networks:
      - media-net

  jackett:
    image: linuxserver/jackett:latest
    container_name: jackett
    network_mode: "service:vpn"
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${JACKETT_CONFIG_DIR}:/config
      - ${DOWNLOADS_DIR}:/downloads
    restart: unless-stopped

  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    network_mode: "service:vpn"
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${SONARR_CONFIG_DIR}:/config
      - ${TV_LIBRARY_DIR}:/tv
      - ${DOWNLOADS_DIR}:/downloads
      - ${MEDIA_DIR}:/storage
    restart: unless-stopped

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    network_mode: "service:vpn"
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${RADARR_CONFIG_DIR}:/config
      - ${MOVIES_LIBRARY_DIR}:/movies
      - ${MEDIA_DIR}:/storage
      - ${DOWNLOADS_DIR}:/downloads
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    network_mode: "service:vpn"
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${LIDARR_CONFIG_DIR}:/config
      - ${MUSIC_LIBRARY_DIR}:/music
      - ${DOWNLOADS_DIR}:/downloads
    restart: unless-stopped

  transmission:
    image: linuxserver/transmission:latest
    container_name: transmission
    network_mode: "service:vpn"
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${TRANSMISSION_CONFIG_DIR}:/config
      - ${DOWNLOADS_DIR}:/downloads
    restart: unless-stopped

  rdtclient:
    image: rogerfar/rdtclient
    container_name: rdtclient
    network_mode: "service:vpn"
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${RDTCLIENT_CONFIG_DIR}:/data/db
      - ${DOWNLOADS_DIR}:/downloads
    logging:
      driver: json-file
      options:
        max-size: 10m
    restart: unless-stopped

  nzbget:
    image: linuxserver/nzbget:latest
    container_name: nzbget
    network_mode: "service:vpn"
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${NZBGET_CONFIG_DIR}:/config
      - ${DOWNLOADS_DIR}:/downloads
    restart: unless-stopped

  get_iplayer:
    image: ghcr.io/thespad/get_iplayer:latest
    container_name: get_iplayer
    network_mode: bridge
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
      - INCLUDERADIO=false
      - ENABLEIMPORT=true
    volumes:
      - ${GETIP_CONFIG_DIR}:/config
      - ${DOWNLOADS_DIR}/getiplayer:/downloads/incomplete
    ports:
      - "1935:1935"
    networks:
      - media-net
    restart: unless-stopped

  lazylibrarian:
    image: linuxserver/lazylibrarian:latest
    container_name: lazylibrarian
    network_mode: bridge
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${LAZYL_CONFIG_DIR}:/config
      - ${BOOKS_LIBRARY_DIR}:/books
      - ${AUDIOBOOKS_LIBRARY_DIR}:/audiobooks
      - ${DOWNLOADS_DIR}:/downloads
    docker_mods:
      - universal-calibre
    ports:
      - "5299:5299"
    networks:
      - media-net
    restart: unless-stopped

  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    container_name: audiobookshelf
    network_mode: bridge
    ports:
      - "13378:80"
    volumes:
      - ${AUDIOBOOKS_LIBRARY_DIR}:/audiobooks
      - ${PODCASTS_LIBRARY_DIR}:/podcasts
      - ${AUDIOBOOKSHELF_CONFIG_DIR}:/config
      - ${AUDIOBOOKSHELF_CONFIG_DIR}/metadata:/metadata
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    networks:
      - media-net

  jellyfin:
    image: linuxserver/jellyfin:latest
    container_name: jellyfin
    network_mode: bridge
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - ${JELLYFIN_CONFIG_DIR}:/config
      - ${MEDIA_DIR}:/media
    ports:
      - "8096:8096"
      - "8920:8920"
    networks:
      - media-net
    restart: unless-stopped

  pi-health-dashboard:
    image: brownster/pi-health:latest
    container_name: pi-health-dashboard
    environment:
      - TZ=${TZ}
      - DISK_PATH=${MEDIA_DIR}
      - DISK_PATH_2=${DOWNLOADS_DIR}
      - DOCKER_COMPOSE_PATH=/config/docker-compose.yml
      - ENV_FILE_PATH=/config/.env
      - BACKUP_DIR=/config/backups
    ports:
      - "8080:8080"
    volumes:
      - /proc:/host_proc:ro
      - /sys:/host_sys:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/holly/docker:/config
      - ${MEDIA_DIR}:${MEDIA_DIR}
      - ${DOWNLOADS_DIR}:${DOWNLOADS_DIR}
    networks:
      - media-net
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=3600
      - WATCHTOWER_INCLUDE=vpn,sonarr,radarr,pi-health-dashboard,audiobookshelf,get_iplayer,nzbget,rdtclient,transmission,lidarr,jackett,lazylibrarian,jellyfin
    restart: unless-stopped

networks:
  media-net:
    driver: bridge
